$color-blue: rgb(139, 201, 255);

* {
  margin: 0 auto;
  padding: 0;

  color: #666;
  font-family: 'DM Serif Display', serif;
}

.background {
  background-image: url(https://source.unsplash.com/rknrvCrfS1k);
  background-repeat: no-repeat;
  background-size: 100%;
  height: 1200px;
}

h1 {
  font-size: 45px;
  color: white;
  font-family: 'DM Serif Display', serif;
  letter-spacing: 3px;
  padding: 40px 0 0 40px;
}

h2 {
  font-size: 20px;
  padding-left: 40px;
}

.search-box {
  // あとでboxをfixedにしたい
  // position: fixed;

  background-color: rgba(255, 255, 255, 0.638);
  margin: 100px 120px 0 auto;
  padding: 20px;
  // height: 300px;
  width: 430px;
  border-radius: 10px;
  // opacity: 80%;

  .search-title {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 25px;
    line-height: 1.2;
    padding: 20px;

    .font-italic {
      // font-style: italic;
      font-family: 'Times New Roman', Times, serif;
    }
  }

  .box {
    display: grid;
    // grid-template-columns: 1fr 1.5fr;
    background-color: rgb(255, 255, 255);
    opacity: 100%;
    font-size: 25px;
    padding: 10px;
    width: 300px;

    input {
      // margin: 5px auto;
      font-family: Arial, Helvetica, sans-serif;
      width: 250px;
      height: 40px;
      margin: 5px auto;
      border: 0.5px solid rgb(96, 160, 255);
      outline: none;
      padding: 0 15px;
    }
  }
  .btn-submit {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;

    display: grid;
    padding: 5px 13px;
    margin: 20px auto 0 auto;
    font-size: 14px;
    background-color: white;
    border-radius: 6px;
    border: none;
    // border: 0.5px solid rgb(96, 160, 255);
    box-shadow: 0 3px 5px rgb(0 0 0 / 50%);
  }
  .btn-submit:hover {
    box-shadow: none;
    transform: scale(0.99, 0.99) translateY(2px);
  }
}

footer {
  // display: flex;
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 40px;
  text-align: center;
  padding: 30px 0;
  position: absolute;
  bottom: 0;
}

// animation
#typing::after {
  content: '';
  border-right: 2.3px solid;
  animation: flashing 0.8s linear infinite;

  @keyframes flashing {
    0% {
      opacity: 0;
    }
  }
}
